.layout-container {
  display: flex;
  height: 100%;
}

.left-bar-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .tool-icon {
    margin: 0.2rem;
  }

  .json-icon {
    width: 1.8rem;
    height: 1.8rem;
    background: #5bbec3;
  }

  .kafka-icon {
    width: 1.8rem;
    height: 1.8rem;
    background: #b64d4d;
  }

}

.right-bar-container {
  display: none;
}

.top-bar-container {
  display: none;
}

.bottom-bar-container {
  display: none;
}

.content-container {
  display: flex;
  flex: 1;
}