.layout-container {
    display: flex;
    height: 100%;
}

.left-bar-container {
    width: 10%;
}

.right-bar-container {
    display: none;
}

.top-bar-container {
    display: none;
}

.bottom-bar-container {
    display: none;
}

.content-container {
    width: 89%;
}