.layout-container {
  display: flex;
  height: 100%;
}

.left-bar-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .tool-icon {
    margin: 0.2rem;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:hover {
      transform: scale(1.1);
      opacity: 0.8;
    }
  }

  .json-tool {
    width: 1.8rem;
    height: 1.8rem;
    background: #5bbec3;
  }

  .diff-tool {
    width: 1.8rem;
    height: 1.8rem;
    background: #4db656;
  }

  .kafka-tool {
    width: 1.8rem;
    height: 1.8rem;
    background: #b64d4d;
  }

  .event-tool {
    width: 1.8rem;
    height: 1.8rem;
    background: #ffa500;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
  }
}

.right-bar-container {
  display: none;
}

.top-bar-container {
  display: none;
}

.bottom-bar-container {
  display: none;
}

.content-container {
  display: flex;
  flex: 1;
}