.container {
    display: flex;
    flex-direction: column;
    border: #5bbec3 solid 2px;
    height: 99%;
    padding: 5px;
    width: 96%;
}

.topic-info {
    display: flex;
    flex-direction: column;
}

.button-bar {

}

.message-container {
    height: 100%;
}